.contact {
    height: 100vh;
    position: relative;
}

.contact{
    background-color: #59b256;
    height: 100%;
    position: absolute;
    width: 20px;
}

.contact-icon{
    height: 30px;
    margin-right: 20px;
    width: 30px;
}

.contact-info {

}

.contact-info-item {
    align-items: center;
    display: flex;
    font-weight: 300;
    margin: 50px 0px;
    width: 70%;
}

.contact-left {
    flex: 1;
}

.contact-right {
    flex: 1;
}

.contact-title {
    font-size: 60px;
    width: 80%;
}

.contact-wrapper {
    display: flex;
    padding: 50px;
}